body {
  background-color: #f5f4f2;
}
.infoBox {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.27);
}
.upperbox {
  position: absolute;
  top: 0;
  left: 0;
  display: flex; /* Use Flexbox to arrange children */
  justify-content: space-between; /* Space between small divs */
  padding: 5px;
}
.small-div {
    display: flex; /* Use Flexbox for children alignment */
    align-items: center; /* Center items vertically */
}

.left-div {
    /* Additional styles for left div, if needed */
}

.right-div {
    /* Additional styles for right div, if needed */
}
.circular-round-button {
    width: 50px; /* Circular button width */
    height: 30px; /* Circular button height */
    border-radius: 25%; /* Make it circular */
    border: none; /* Remove default border */
    background-color: #000; /* Button background color */
    color: white; /* Button text color */
    font-size: 16px; /* Font size for letters */
    margin-right: 10px; /* Space between buttons */
    cursor: pointer;
}
.circular-button {
    width: 30px; /* Circular button width */
    height: 30px; /* Circular button height */
    border-radius: 50%; /* Make it circular */
    border: none; /* Remove default border */
    background-color: #000; /* Button background color */
    color: white; /* Button text color */
    font-size: 16px; /* Font size for letters */
    margin-right: 10px; /* Space between buttons */
    cursor: pointer; /* Pointer on hover */
}

.bug-icon {
    /* Optional: Additional styles for the bug icon button */
  background-color: #edebeb !important;
  color : black !important;
}
