body {
  background-color: #f5f4f2;
}
.infoBox {
  height: 50px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.27);
}
.upperbox {
  position: absolute;
  top: 0;
  left: 0;
  display: flex; /* Use Flexbox to arrange children */
  justify-content: space-between; /* Space between small divs */
  padding: 10px;
}
